/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    color: rgb(6, 32, 63);
    background-color: rgb(54, 221, 121);
}
  *, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

.gallery-title {
    text-align: center;
}

.picture-frame {
    width: 80%;
    border: 2px solid rgb(233, 9, 225);
    display: flex;
    justify-content: center;
    align-content: center;
}

.picture-frame img {
    width: 100%;
    margin: 8px;
    max-height: 300px;
}

.car-gallery {
    /* border: 8px solid gold; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 500px) {
    body {
        background: red;
    }
    .picture-frame {
        width: 37%;
        max-height: 250px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background:peru;
    }

    .gallery-title {
        font-size: 32px;
        text-align: center;
    }
}